// .tooltip {
//   position: relative;
//   background: transparent;
//   //   padding: 1.5rem;
//   font-size: 15px;
//   border-radius: 100%;
//   color: #fff;
// }

// .tooltip:before,
// .tooltip:after {
//   position: absolute;
//   content: "";
//   opacity: 0;
//   transition: all 0.4s ease;
// }

// .tooltip:before {
//   border-width: 10px 8px 0 8px;
//   border-style: solid;
//   border-color: red transparent transparent transparent;
//   top: -10px;
//   transform: translateY(20px);
// }

// .tooltip:after {
//   content: attr(data-tooltip);
//   background: red;
//   font-size: 20px;
//   font-weight: 300;
//   top: -1rem;
//   left: -2rem;
//   padding: 10px;
//   border-radius: 5px;
//   letter-spacing: 1px;
//   transform: translateY(20px);
// }

// .tooltip:hover {

//   opacity: 1;
//   transform: translateY(-2px);
// }

//

//

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover {
  animation: shake 500ms ease-in-out forwards;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 7rem;
  background: rgba(108, 134, 255, 1);
  color: white;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.4rem;
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  left: 50%;
  margin-left: -3.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: clamp(0.85rem, 3vw, 1rem);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(108, 134, 255, 1) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
